<md-toolbar color="primary">
    <span>Utilities</span>
</md-toolbar>
    <md-card class="example-card">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Copper Mug</md-card-title>
            <md-card-subtitle>Handcrafted Copper Mug</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/purse1.jpeg">
        <md-card-content>
            <p>Rs.279 </p><p>
Discount : 20% Off</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>BUY</button>
            <button md-button>Add To Cart</button>
        </md-card-actions>
    </md-card>
